@model HomeViewModel

<h4>Search Patterns</h4>
@Html.Partial("_SearchForm", Model.SearchModel)
<h4>All Patterns</h4>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @foreach (var pattern in Model.Patterns)
            {
                <li class="list-group-item">
                    <a href="/Pattern/Index/@pattern.Sys.Id">@pattern.Name</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <a href="/Pattern/Add">Add new pattern</a>
</div>