@model HomeViewModel

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @foreach (var category in Model.DataSetCategories)
            {
                <li class="list-group-item">
                    <a href="/category/Index/@category.Sys.Id">@category.Name</a>
                </li>
            }
        </ul>
    </div>
</div>
