@model HomeViewModel

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @foreach (var pattern in Model.Patterns)
            {
                <li class="list-group-item">
                    <a href="/Pattern/Index/@pattern.Sys.Id">@pattern.Name</a>
                </li>}
        </ul>
    </div>
    <a href="/Pattern/Add">Add new pattern</a>
</div>