@model Category

<div class="row">
    <h2>@Html.DisplayFor(m => m.Name)</h2>
    <p>@Html.DisplayFor(m => m.PageContent)</p>
</div>

<div class="row">
	<div class="col-md-4">
		<ul class="list-group">
			@foreach (var dataset in Model.Datasets)
			{
				<li class="list-group-item">
					<a href="/dataset/Index/@dataset.Sys.Id">@dataset.Name</a>
				</li>
			}
		</ul>
	</div>
</div>

